                            <table cellspacing="0" cellpadding="0" border="0" align="center" width="<%= component.style.width || 250%>">
                              <tr>
                                <td align="center">
                                  <% if(component.linked) { %>
                                  <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:block;width:<%= component.cellWidth || 32 %>px;height:<%= component.cellHeight || 32 %>px;">
                                  <% } %>
                                  <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/<%= (component.cellWidth || 32)*2 %>x<%= (component.cellHeight || 32)*2 %>&amp;text=f" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                                  <img src="http://placehold.it/<%= component.cellWidth || 32 %>x<%= component.cellHeight || 32 %>&amp;text=f" alt="" style="display:block;border:0;" class="mobile-hide" />
                                  <% if(component.linked) { %>
                                  </a>
                                  <% } %>
                                </td>
                                <td align="center">
                                  <% if(component.linked) { %>
                                  <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:block;width:<%= component.cellWidth || 32 %>px;height:<%= component.cellHeight || 32 %>px;">
                                  <% } %>
                                  <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/<%= (component.cellWidth || 32)*2 %>x<%= (component.cellHeight || 32)*2 %>&amp;text=f" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                                  <img src="http://placehold.it/<%= component.cellWidth || 32 %>x<%= component.cellHeight || 32 %>&amp;text=f" alt="" style="display:block;border:0;" class="mobile-hide" />
                                  <% if(component.linked) { %>
                                  </a>
                                  <% } %>
                                </td>
                                <td align="center">
                                  <% if(component.linked) { %>
                                  <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:block;width:<%= component.cellWidth || 32 %>px;height:<%= component.cellHeight || 32 %>px;">
                                  <% } %>
                                  <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/<%= (component.cellWidth || 32)*2 %>x<%= (component.cellHeight || 32)*2 %>&amp;text=f" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                                  <img src="http://placehold.it/<%= component.cellWidth || 32 %>x<%= component.cellHeight || 32 %>&amp;text=f" alt="" style="display:block;border:0;" class="mobile-hide" />
                                  <% if(component.linked) { %>
                                  </a>
                                  <% } %>
                                </td>
                                <td align="center">
                                  <% if(component.linked) { %>
                                  <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:block;width:<%= component.cellWidth || 32 %>px;height:<%= component.cellHeight || 32 %>px;">
                                  <% } %>
                                  <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/<%= (component.cellWidth || 32)*2 %>x<%= (component.cellHeight || 32)*2 %>&amp;text=f" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                                  <img src="http://placehold.it/<%= component.cellWidth || 32 %>x<%= component.cellHeight || 32 %>&amp;text=f" alt="" style="display:block;border:0;" class="mobile-hide" />
                                  <% if(component.linked) { %>
                                  </a>
                                  <% } %>
                                </td>
                                <td align="center">
                                  <% if(component.linked) { %>
                                  <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:block;width:<%= component.cellWidth || 32 %>px;height:<%= component.cellHeight || 32 %>px;">
                                  <% } %>
                                  <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/<%= (component.cellWidth || 32)*2 %>x<%= (component.cellHeight || 32)*2 %>&amp;text=f" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                                  <img src="http://placehold.it/<%= component.cellWidth || 32 %>x<%= component.cellHeight || 32 %>&amp;text=f" alt="" style="display:block;border:0;" class="mobile-hide" />
                                  <% if(component.linked) { %>
                                  </a>
                                  <% } %>
                                </td>
                                <td align="center">
                                  <% if(component.linked) { %>
                                  <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:block;width:<%= component.cellWidth || 32 %>px;height:<%= component.cellHeight || 32 %>px;">
                                  <% } %>
                                  <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/<%= (component.cellWidth || 32)*2 %>x<%= (component.cellHeight || 32)*2 %>&amp;text=f" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                                  <img src="http://placehold.it/<%= component.cellWidth || 32 %>x<%= component.cellHeight || 32 %>&amp;text=f" alt="" style="display:block;border:0;" class="mobile-hide" />
                                  <% if(component.linked) { %>
                                  </a>
                                  <% } %>
                                </td>
                              </tr>
                            </table>
