                      <!--[if gte mso 9]>
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td width="<%= parseInt(component.innerWidth/3, 10)%>" align="left">
                      <![endif]-->
                      <table class="half-spread left" cellspacing="0" cellpadding="0" border="0" width="<%= parseInt(component.innerWidth/3, 10)%>" align="left">
                        <tr>
                          <td width="100%" align="left" style="line-height:1;font-size:0;">
                            <% if(component.linked) { %>
                            <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:inline-block;">
                            <% } %>
                            <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap"><img src="http://placehold.it/352x352&amp;text=Cell+Image+1" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap" alt=""></span>
                            <img src="http://placehold.it/182x182&amp;text=Cell+Image+1" alt="" style="display:block;border:0;" class="mobile-hide" />
                            <% if(component.linked) { %>
                            </a>
                            <% } %>
                          </td>
                        </tr>
                      </table>
                      <!--[if gte mso 9]>
                            </td>
                            <td width="<%= parseInt(component.innerWidth/3, 10)%>" align="center">
                      <![endif]-->
                      <table class="half-spread right" cellspacing="0" cellpadding="0" border="0" width="<%= parseInt(component.innerWidth/3, 10)%>" align="left">
                        <tr>
                          <td width="100%" align="center" style="line-height:1;font-size:0;">
                          <% if(component.linked) { %>
                            <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:inline-block;">
                            <% } %>
                            <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap"><img src="http://placehold.it/352x352&amp;text=Cell+Image+2" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap" alt=""></span>
                            <img src="http://placehold.it/182x182&amp;text=Cell+Image+2" alt="" style="display:block;border:0;" class="mobile-hide" />
                            <% if(component.linked) { %>
                            </a>
                            <% } %>
                          </td>
                        </tr>
                      </table>
                      <!--[if gte mso 9]>
                            </td>
                            <td width="<%= parseInt(component.innerWidth/3, 10)%>" align="right">
                      <![endif]-->
                      <table class="half-spread left" cellspacing="0" cellpadding="0" border="0" width="<%= parseInt(component.innerWidth/3, 10)%>" align="left">
                        <tr>
                          <td width="100%" align="right" style="line-height:1;font-size:0;">
                            <% if(component.linked) { %>
                            <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:inline-block;">
                            <% } %>
                            <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap"><img src="http://placehold.it/352x352&amp;text=Cell+Image+3" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap" alt=""></span>
                            <img src="http://placehold.it/182x182&amp;text=Cell+Image+3" alt="" style="display:block;border:0;" class="mobile-hide" />
                            <% if(component.linked) { %>
                            </a>
                            <% } %>
                          </td>
                        </tr>
                      </table>
                      <!--[if gte mso 9]>
                            </td>
                          </tr>
                        </table>
                      <![endif]-->

                      <div class="mobile-hide" style="display:block;clear:both;height:7px;line-height:1;font-size:0px;">
                        <img class="mobile-hide" src="img/p.gif" height="7" width="100%" style="display:block;border:0;" border="0" />
                      </div>

                      <!--[if gte mso 9]>
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                          <tr>
                            <td width="<%= parseInt(component.innerWidth/3, 10)%>" align="left">
                      <![endif]-->
                      <table class="half-spread right" cellspacing="0" cellpadding="0" border="0" width="<%= parseInt(component.innerWidth/3, 10)%>" align="left">
                        <tr>
                          <td width="100%" align="left" style="line-height:1;font-size:0;">
                            <% if(component.linked) { %>
                            <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:inline-block;">
                            <% } %>
                            <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap"><img src="http://placehold.it/352x352&amp;text=Cell+Image+1" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap" alt=""></span>
                            <img src="http://placehold.it/182x182&amp;text=Cell+Image+1" alt="" style="display:block;border:0;" class="mobile-hide" />
                            <% if(component.linked) { %>
                            </a>
                            <% } %>
                          </td>
                        </tr>
                      </table>
                      <!--[if gte mso 9]>
                            </td>
                            <td width="<%= parseInt(component.innerWidth/3, 10)%>" align="center">
                      <![endif]-->
                      <table class="half-spread left last-row" cellspacing="0" cellpadding="0" border="0" width="<%= parseInt(component.innerWidth/3, 10)%>" align="left">
                        <tr>
                          <td width="100%" align="center" style="line-height:1;font-size:0;">
                          <% if(component.linked) { %>
                            <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:inline-block;">
                            <% } %>
                            <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap"><img src="http://placehold.it/352x352&amp;text=Cell+Image+2" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap" alt=""></span>
                            <img src="http://placehold.it/182x182&amp;text=Cell+Image+2" alt="" style="display:block;border:0;" class="mobile-hide" />
                            <% if(component.linked) { %>
                            </a>
                            <% } %>
                          </td>
                        </tr>
                      </table>
                      <!--[if gte mso 9]>
                            </td>
                            <td width="<%= parseInt(component.innerWidth/3, 10)%>" align="right">
                      <![endif]-->
                      <table class="half-spread right last-row" cellspacing="0" cellpadding="0" border="0" width="<%= parseInt(component.innerWidth/3, 10)%>" align="left">
                        <tr>
                          <td width="100%" align="right" style="line-height:1;font-size:0;">
                            <% if(component.linked) { %>
                            <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:inline-block;">
                            <% } %>
                            <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap"><img src="http://placehold.it/352x352&amp;text=Cell+Image+3" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap" alt=""></span>
                            <img src="http://placehold.it/182x182&amp;text=Cell+Image+3" alt="" style="display:block;border:0;" class="mobile-hide" />
                            <% if(component.linked) { %>
                            </a>
                            <% } %>
                          </td>
                        </tr>
                      </table>
                      <!--[if gte mso 9]>
                            </td>
                          </tr>
                        </table>
                      <![endif]-->
