                    <% if(component.linked) { %>
                    <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:inline-block;">
                    <% } %>
                    <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/165x70&amp;text=Logo" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                    <img src="http://placehold.it/165x70&amp;text=Logo" alt="" style="display:block;border:0;" class="mobile-hide" />
                    <% if(component.linked) { %>
                    </a>
                    <% } %>
