                      <% if(component.linked) { %>
                      <a href="notyetlinked" target="_blank" style="text-decoration:none;border:0;line-height:0;display:block;width:100%">
                      <% } %>
                      <span style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide"><img src="http://placehold.it/828&amp;text=Banner" style="display:none;float:left;overflow:hidden;width:0;height:0;" class="mobile-swap wide" alt=""></span>
                      <img src="http://placehold.it/<%= style.width%>x400&amp;text=Banner" alt="" style="display:block;border:0;" class="mobile-hide" width="100%" />
                      <% if(component.linked) { %>
                      </a>
                      <% } %>
